@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/HankenGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Hanken Grotesk Variable";
  src: url("../fonts/HankenGrotesk-Variable.woff2") format("woff2"),
    url("../fonts/HankenGrotesk-Variable.woff") format("woff");
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.component {
  width: 450px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: "Hanken Grotesk", sans-serif;
}

.results {
  background: linear-gradient(to top, #3730c1 0%, #6743ff 100%);
  text-align: center;
  padding: 30px 0;
  gap: 20px;
  border-radius: 0 0 20px 20px;
}

.title {
  color: #cabdff;
  font-size: 1rem;
  top: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #4925d7 0%,
    #4925d7 50%,
    #4925d700 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  font-family: "Hanken Grotesk Variable", sans-serif;
}

.circle-title {
  color: #fffffd;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.circle-text {
  color: #867cff;
  font-weight: 200;
}

.info {
  color: #fffffd;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.results-footer {
  color: #cabdff;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: 500;
  width: 60%;
}

/* Summary */

.summary {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  gap: 20px;
}

.summary-title {
  color: #4d525b;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.mini-card {
  background: #fffffd;
  border-radius: 10px;
  padding: 15px 10px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  color: #4d525b;
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

.mini-card:hover {
  color: #4d525b;
  cursor: pointer;
  transform: scale(1);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  background: #303b59;
  color: #f9ffff;
  font-family: "Hanken Grotesk Variable", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 50px;
  padding: 20px;
  width: 95%;

  text-decoration: none;
  border: none;
  text-align: center;
}

.button:hover {
  background: #465682;
  color: #f9ffff;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bg-red {
  background-color: #fff6f5;
}

.bg-yellow {
  background-color: #fffbf2;
}

.bg-green {
  background-color: #f2fbfa;
}

.bg-blue {
  background-color: #f3f3fd;
}

.text-red {
  color: #ff4d4d;
}

.text-yellow {
  color: #ffcc00;
}

.text-green {
  color: #00ff00;
}

.text-blue {
  color: #4d94ff;
}

.card-stats {
  color: #999298;
}

.card-stats span {
  color: #4d525b;
  font-weight: 700;
}

@media (width > 770px) {
  body {
    flex-direction: row;
    height: 100vh;
  }

  .component {
    width: 700px;
    height: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }

  .results {
    height: 100%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .summary {
    height: 100%;
    width: 50%;
    border-radius: 20px 20px;
  }
}
